.square {
  flex: 1 1 0;
  display: flex;
  flex-flow: column nowrap;
  border: 1px solid black;
  min-height: 100px;
  position: relative;
  transition: background-color .3s;
}

.empty:hover {
  background-color: lightgreen;
  cursor: pointer;

}

.square-meta {
  display: flex;
  justify-content: space-between;
}